.playPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__choiceList {
    display: flex;
    justify-content: center;
  }

  &__choiceList {
    display: flex;
    justify-content: center;
  }

  &__choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border: 10px solid grey;
    margin: 2rem;
    border-radius: 50%;
  }

  &__result {
    padding: 1 rem;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 7rem;
  height: 2rem;
  background-color: lightseagreen;
  border-radius: 2rem;
  color: white;
}
